body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f3f3f3;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.logo-itson {
    width: 180px;
    max-width: 60%;
    height: auto;
}

.container {
    background: white;
    padding: 25px;
    border-radius: 16px;
    width: 100%;
    max-width: 420px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.12);
    text-align: center;
}

h1 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #222;
}

.label {
    text-align: left;
    display: block;
    font-size: 14px;
    margin-top: 12px;
    margin-bottom: 6px;
    color: #333;
}

input {
    width: 100%;
    padding: 12px;
    font-size: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input::placeholder {
    color: #999;
}


button {
    margin-top: 18px;
    width: 100%;
    padding: 14px;
    font-size: 17px;
    font-weight: 600;

    background: linear-gradient(135deg, #0057a8, #0073e6);
    color: white;

    border: none;
    border-radius: 12px;
    cursor: pointer;

    transition: 0.25s ease;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

button:hover {
    background: linear-gradient(135deg, #0073e6, #008cff);
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(0,0,0,0.20);
}

button:active {
    transform: translateY(0px);
    box-shadow: 0 3px 8px rgba(0,0,0,0.12);
}

#status {
    margin-top: 12px;
    min-height: 22px;
    font-size: 15px;
}

@media (max-width: 420px) {
    .logo-itson {
        width: 150px;
    }
    h1 {
        font-size: 20px;
    }
}
